{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <style>
        #about-text {
            margin: 20px;

        }
    </style>
    <div id="about-text">
        Tempus urna et pharetra pharetra massa massa ultricies. Elit duis tristique sollicitudin nibh sit amet commodo
        nulla. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Faucibus nisl tincidunt eget nullam non nisi.
        In aliquam sem fringilla ut morbi tincidunt.<br>
    </div>
{% endblock %}