{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <style>
        #about-text {
            margin: 20px;

        }
    </style>
<div style="margin-left: 2%">
<h1>Купить тур онлайн в турфирме в Симферополе</h1>
<span></span>
</div>
<div style="margin-left: 2%">
<p class="pre">
Турагентство Freedom уже длительное время ведет успешное сотрудничество с надежными и опытными туроператорами в Симферополе.

Оценив эффективный сервис нашего турагентства в Симферополе, каждый турист получит возможность выбрать и купить тур, стопроцентно соответствующий вашим критериям поиска и величине бюджета.

Мы стараемся всегда брать во внимание идеи и требования современных отдыхающих, поэтому среди маршрутов для путешествий нашей туристической компании имеются:
</p><ul>
<li>Поездки на горнолыжные курорты</li>
<li>Наслаждение отдыхом в странах с теплым климатом в любое время года</li>
<li>Заблаговременное бронирование найденных маршрутов для путешествия</li>
<li>Гарантированные горящие путевки и спецпредложения по самым выгодным ценам</li>
</ul>

Турфирма Травелата — купить путевку с вылетом из Симферополя и оценить лучшее сочетание качественных характеристик и ценовой политики.<p></p>
</div>
{% endblock %}