{% extends "base.html" %}

{% block title %}
    Корзина
{% endblock %}

{% block body %}
    <style>
        .shopping-cart {
            width: 850px;
            margin: 80px auto;
            background: #FFFFFF;
            box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.20);
            border-radius: 6px;

            display: flex;
            flex-direction: column;
        }

        .title {
            height: 60px;
            padding: 20px 30px;
            font-size: 18px;
            font-family: Arial;
            font-weight: 400;
        }

        .item {
            padding: 20px 30px;
            height: 200px;
            display: flex;
        }

        .item {
            border-top: 1px solid #E1E8EE;
            border-bottom: 1px solid #E1E8EE;
            margin: auto;
        }

        .image {
            margin: 0px 20px 0px 0px;
            padding: 0px;
        }

        img {
            padding: 0px;
            margin: 0px;
            height: 150px;
            border-radius: 0.55rem;
        }

        .delete-btn {
            margin: auto;
            text-decoration: none;
        }

        .description {
            display: block;
            font: 18px YS Text, Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 200px;
        }


        .total-price {
            display: inline;
            font: 18px YS Text, Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-left: 200px;
            margin-right: 10px;
        }

        .left-desc {
            margin-top: 65px;
            width: 300px;
        }

        .empty{
            font-weight: bold;
            font-size: 30px;
            margin: 10px;
        }

    </style>
    <div class="shopping-cart">
    {% if data %}
        <div class="title">
            Корзина
        </div>
        {% for service in data %}
            <!-- Товар -->
            <div class="item">

                <div class="image">
                    <img src="{{ service.image }}" alt=""/>
                </div>

                <div class="description">
                    <span>{{ service.name }}</span>
                </div>
                <div class="left-desc">
                    <div class="total-price">$549</div>
                    <a class="delete-btn"  href="/remove_from_cart/{{ service.service_id }}">
                        ❌
                    </a>
                </div>
            </div>
        {% endfor %}
        <a class="btn" href="/buy" style="margin:10px 45% 10px 45%; width:10%; color:black;background: #ffc107">Buy</a>
    {% endif %}
    {% if not data %}
        <div class="empty">
        Корзина пуста
        </div>
    {% endif %}
    </div>
{% endblock %}