{% extends "base.html" %}

{% block title %}
    Корзина
{% endblock %}

{% block body %}
    <section class="h-100">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Корзина</h3>
                    </div>

                    {% if data %}
                        {% for service in data %}
                            <div class="card rounded-3 mb-4">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img
                                                    src='{{ service.image }}'
                                                    class="img-fluid rounded-3" alt="img">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <p class="lead fw-normal mb-2">{{ service.name }}</p>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">{{ service.price }}₽</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a style="text-decoration: 0" href="/remove_from_cart/{{ service.service_id }}">
                                                ❌
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="margin:0 auto; color:black;text-align: center;font-size: larger;font-weight: bold">
                        Итоговая цена: {{ data | sum(attribute='price') }}₽
                        </div>
                        <a class="btn" href="/buy"
                           style="margin:10px 45% 10px 45%; width:10%; color:black;background: #ffc107">Buy</a>
                        </div>
                        </div>
                        </div>
                        </section>
                    {% endif %}
    {% if not data %}
        <div class="empty">
            Корзина пуста
        </div>
    {% endif %}
{% endblock %}