{% extends 'base.html' %}
{% block title %}{{ data['name'].capitalize() }}{% endblock %}
{% block body %}
    <style>
        .col {
            float: left;
            margin-left: 10%;
        }

        .col + .col {
            float: left;
            margin-left: 20px;
        }

        /* or */

        .col:not(:nth-child(1)) {
            float: left;
            margin-left: 20px;
        }
    </style>

    <div class="row" style="align-items: end">
        <div class="col"><img src="{{ data['image'] }}" alt="error"></div>
        <div class="col">column

            <a href="/cart/{{ data['service_id'] }}">
                <button class="btn btn-sm btn-outline-danger w-100 mt-2">Приобрести</button>
            </a>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}